@font-face {
	font-family: "Candara";
    src: url("Candara.TTF");
}

body {
    font-family: "Candara";
    position: relative;
    animation: fade 1s linear;
}

#iemessage {
    position: fixed;
    width: 100%;
    opacity: calc(0);
    font-size: 150%;
    text-align: center;
    left: 0;
    top: 0;
    background-color: maroon;
    font-weight: bold;
    color: white;
}

@keyframes fade {
    0%, 50% { opacity: 0 }
    100% { opacity: 1 }
}

#name {
    position: fixed;
    font-size: 5vmax;
    top: 0;
    line-height: 110%;
    left: 3vw;
}

#major {
    position: fixed;
    line-height: 110%;
    top: 1.8vh;
    right: 3vw;
    text-align: right;
    font-size: 2.5vmax;
}

#Python {
    position: fixed;
    top: 18vh;
    left: 11.3vw;
    font-size: 1.8vmax;
}

#JavaScript {
    position: fixed;
    top: 48vh;
    left: calc(11.3vw + 68vmax - 68vh);
    font-size: 1.8vmax;
}

#otherbox {
    position: fixed;
    bottom: calc(5vh);
    left: 15vw;
}

#other {
    position: fixed;
    bottom: calc(11vmax + 5vh);
    left: calc(15vw + 3.5vmax);
    font-size: 3.8vmax;
}

#otherlist {
    display: inline-block;
    font-size: 1.8vmax;
}

.langname {
    font-size: 3.8vmax;
}

.bullet {
    font-size: 1.5vmax;
}

#circle {
    display: inline-block;
    height: 9.5vmax;
    width: 9.5vmax;
    background-color: #225982;
    border-radius: 50%;
}

#linkedin {
    position: fixed;
    width: 7vh;
    right: 2vh;
    bottom: 2vh;
}

@media (orientation: portrait) {
    #major {
        position: fixed;
        line-height: 110%;
        top: 5vh;
        left: 3vw;
        text-align: left;
        font-size: 2.5vh;
    }
  }