@font-face {
	font-family: 'Candara';
    src: url('Candara.ttf');
}

body {
    margin: 0;
    font-family: 'Candara';
    font-size: 1.5vw;
    user-select: none;
    background-color: #F8F8F8;
}

#main {
    position: fixed;
    top: 7vh;
}

#leftbar {
    position: fixed;
    left: 0;
    width: 35%;
    height: 100%;
    background-color: whitesmoke;
}

.hcontainer {
    display: block;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
}

.hcontainer:hover { 
    background-color: white;
}

.left {
    position: absolute;
    text-align: right;
    left: 0;
    width: 30vw;
}

.right {
    position: relative;
}

.row {
    display: inline-block;
    position: relative;
    left: 30vw;
    width: 70vw;
    right: 0;
    padding-bottom: 0.1em;
}

.Ldetail {
    position: absolute;
    right: 40%;
}

.Rdetail {
    display: inline;
    position: relative;
    padding-left: 0.2em;
    left: 60%;
    font-weight: bold;
}

#name {
    display: block;
    width: 30vw;
    text-align: right;
    font-size: 3vw;
    transform: translateY(10%);
    text-shadow: 1px 1px 0px LightCoral;
}

#email {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 1.5vw;
    user-select: text;
    padding: 0.6em;
    text-shadow: 1px 1px 0px LightCoral;
}